---
import Card from "../Card.astro";

const experience = [
  {
    title: "Web Intern @CodeClause",
    desc: "Developed sample templates for the company’s internal project using HTML CSS and JavaScript.",
    icon: "/images/projects/Codeclause.png  ",
    href: "https://internship.codeclause.com/",
  },
  {
    title: "Java Programming Training by @Coding Blocks",
    desc: "GLA University's Java Programming Training by Coding Blocks: Enhanced core Java skills through challenges in data structures and algorithms.",
    icon: "/images/projects/cblocks.jpg",
    href: "https://codingblocks.com/",
  },
];

const Projects = [
  {
    title: "Eventopia -> Event Management App",
    desc: "Efficient event management platform: streamline processes, optimize organization, enhance attendee experience effortlessly.",
    icon: "/images/projects/Evently.png",
    href: "https://event-platform-p1l2.vercel.app/",
  },
  {
    title: "Tweet-Wave",
    desc: "Spearheaded the creation of a comprehensive social media platform enabling users to share thoughts, connect with others, and manage profiles",
    icon: "/images/projects/Xlogo.png",
    href: "https://github.com/Shalabh-agarwal8630/Twitter_Backend",
  },
  {
    title: "TextXtend",
    desc: "TextXtend offers PDF uploads/editing, Google Docs-like collaboration, enhanced document processing, and secure user authentication.",
    icon: "/images/projects/TextXtend.png",
    href: "https://github.com/Shalabh-agarwal8630/Scaler_Project",
  },
];
---

<div class="col">
  <section class="projects">
    <h1 class="title">Experience</h1>
    <div class="projectscol">
      {experience.map((expo) => <Card {...expo} />)}
    </div>
  </section>

  <section class="projects">
    <h1 class="">Projects</h1>
    <div class="projectscol">
      {Projects.map((project) => <Card {...project} />)}
    </div>
  </section>
</div>

<style>
  .col {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .projects {
    gap: 20px;
  }

  .projectscol {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .schoolprojects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 520px;
  }

  summary {
    cursor: pointer;
    user-select: none;
    display: block;
    padding-left: 1rem;
    position: relative;
  }

  summary:before {
    content: "";
    border-width: 0.38rem;
    border-style: solid;
    border-color: transparent transparent transparent #4b4b4b;
    position: absolute;
    top: 0.7rem;
    left: -0.1rem;
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }

  details[open] > summary:before {
    transform: rotate(90deg);
  }

  details summary::-webkit-details-marker {
    display: none;
  }
</style>
