<div>
    <h1 class="title">Education & School</h1>
    <div style="max-width: 520px;">
        <p>
           
Currently pursuing B.Tech in Computer Science and Engineering with a specialization in Artificial Intelligence and Machine Learning at GLA University. Completed my schooling from Vidya Devi Jindal School.
        </p>
    </div>
</div>
<!-- <div>
            <h3><b>Heden</b></h3>
            <h4>Software Development MBO-4</h4>
        </div>
        <div>
            <h3><b>2019 - 2023</b></h3>
            <h4>VMBO-TL (mavo)</h4>
        </div> -->
